*{
    margin: 0!important;
    padding: 0!important;
}
/******** CLASS GENERAL ********/
body{width: 100%!important;}
.uppercase{
    text-transform: uppercase;
}
.bolder{
    font-weight: bolder;
}
*.point{
    color: rgb(200, 130, 0);
    font-size: 40px;
}
/******** HEADER ********/
.navbar-brand{
   font-size: 28px!important;
}
/******** SECTION ID MAIN ********/
h1{
    font-family: 'Crete Round', sans-serif;
}
.img-header img{
    max-height: 500px;
    object-fit: cover;
}

/******** SECTION ID DESTINATION ********/


/******** SECTION ID CIRCUITS ********/
.card hr,
#contact hr{
   width: 60%;
}
#contact hr{
   height: 2px;
}

/******** SECTION ID CONTACT ********/


/******** FOOTER ********/
